---
http_interactions:
- request:
    method: get
    uri: https://api.cakemail.dev/lists/8944823/custom-attributes?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"pagination":{"count":null,"page":1,"per_page":50},"data":[]}'
  recorded_at: Sat, 15 Jul 2023 04:42:45 GMT
recorded_with: VCR 6.2.0
