---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/lists/8944823/custom-attributes
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"name":"firstname","object":"attribute","created":true,"data":{"name":"firstname","type":"text"}}'
  recorded_at: Sat, 15 Jul 2023 04:42:46 GMT
recorded_with: VCR 6.2.0
