---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/lists/8944823/contacts
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"id":4,"object":"contact","created":true,"data":{"id":4,"email":"nathan.lopez042@gmail.com","status":"active","subscribed_on":1688792470,"last_bounce_type":"none","bounces_count":0,"custom_attributes":[],"tags":[],"interests":[]}}'
  recorded_at: Sat, 08 Jul 2023 05:01:11 GMT
recorded_with: VCR 6.2.0
