---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/lists/8944823/contacts/4/unsubscribe
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"object":"contact","subscribed":false,"data":{"id":4,"email":"1688792472@gmail.com","status":"unsubscribed","subscribed_on":1688792470,"last_bounce_type":"none","bounces_count":0,"custom_attributes":[],"tags":[],"interests":[]}}'
  recorded_at: Sat, 08 Jul 2023 05:01:13 GMT
recorded_with: VCR 6.2.0
