---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN_PLACEHOLDER>","token_type":"bearer","expires_in":1296000,"refresh_token":"<TOKEN_PLACEHOLDER>"}'
  recorded_at: Sat, 08 Jul 2023 04:58:38 GMT
recorded_with: VCR 6.2.0
