---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"detail":[{"loc":["body","username"],"msg":"field required","type":"value_error.missing"}]}'
  recorded_at: Tue, 04 Jul 2023 05:08:42 GMT
recorded_with: VCR 6.2.0
