---
http_interactions:
- request:
    method: get
    uri: https://api.cakemail.dev/lists?filter=status==archived&page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"pagination":{"count":null,"page":1,"per_page":50},"data":[{"id":8947860,"name":"New
        name","status":"archived","language":"fr_CA","created_on":1688533282,"default_sender":{"name":"Nathan
        Lopez","email":"nathan.lopez042@gmail.com"}},{"id":8949749,"name":"New name","status":"archived","language":"fr_CA","created_on":1688705729,"default_sender":{"name":"Nathan
        Lopez","email":"nathan.lopez042@gmail.com"}}]}'
  recorded_at: Fri, 07 Jul 2023 04:55:33 GMT
recorded_with: VCR 6.2.0
