---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/lists
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"id":8949749,"created":true,"data":{"id":8949749,"name":"My list","status":"active","policy_accepted":false,"language":"fr_CA","created_on":1688705729,"default_sender":{"name":"Nathan
        Lopez","email":"nathan.lopez042@gmail.com"},"redirections":{"after_opt_in":null,"after_double_opt_in":null,"after_opt_out":null},"pages":{"opt_in":"https://cmtd1.com/oi/443/8ee2785836727f58561a5333faaa8164","opt_out":"https://cmtd1.com/oo/443/8ee2785836727f58561a5333faaa8164","subscribe":"https://cmtd1.com/s/443/8ee2785836727f58561a5333faaa8164","unsubscribe":null},"webhook":{"url":null,"actions":["all"]}}}'
  recorded_at: Fri, 07 Jul 2023 04:55:30 GMT
recorded_with: VCR 6.2.0
