---
http_interactions:
- request:
    method: get
    uri: https://api.cakemail.dev/lists?page=1&per_page=1&with_count=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"pagination":{"count":3,"page":1,"per_page":1},"data":[{"id":8944823,"name":"Liste
        de Nathan Lopez","status":"active","language":"fr_CA","created_on":1688012089,"default_sender":{"name":"Nathan
        Lopez","email":"nathan.lopez042@gmail.com"}}]}'
  recorded_at: Wed, 05 Jul 2023 05:03:02 GMT
recorded_with: VCR 6.2.0
