---
http_interactions:
- request:
    method: post
    uri: https://api.cakemail.dev/lists/8949749/unarchive
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"id":8949749,"object":"list","archived":false}'
  recorded_at: Fri, 07 Jul 2023 04:55:34 GMT
recorded_with: VCR 6.2.0
