---
http_interactions:
- request:
    method: delete
    uri: https://api.cakemail.dev/lists/8947861
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN_PLACEHOLDER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Krakend:
      - Version 1.1.1
      X-Krakend-Completed:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"id":8947861,"object":"list","deleted":true}'
  recorded_at: Wed, 05 Jul 2023 05:03:10 GMT
recorded_with: VCR 6.2.0
